*:focus {
    outline: none;
}

.tingle-modal-box__content{
    background-color: #282a36;
    font-size: 24px;
    font-family: 'OmnesBlack';
}

.tingle-modal-box__footer{
    background-color: #44475a;
}
.tingle-modal-box {
    border-radius: 0px 0px 10px 10px;
}
.tingle-btn--danger{
    border-radius: 10px;
    color:  #282a36;
    font-family: 'Omnes';
    background-color: #FA897B;
}

.tingle-btn--primary{
    border-radius: 10px;
    color:  #282a36;
    font-family: 'Omnes';
    background-color: #D0E6A5;
}

.monitorInput {
    border-radius: 10px;
    padding: 2px;
    border: 1px solid #f8f8f2;
    width: 100%;
    background-color: #44475a;
    font-family: 'Omnes';
    font-size: 20px;
    color: #f8f8f2;
}

.monitorInput:focus{
    border: 2px solid #f8f8f2;
}