/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #282a36;
    font-family: 'Omnes';
    color: #f8f8f2;
}

@font-face {
    font-family: Omnes;
    src: url('../fnts/Omnes.woff');
}

@font-face {
    font-family: OmnesBlack;
    src: url('../fnts/Omnes Black.woff');
}

.up {
    background-color: #D0E6A5;
}

.down {
    background-color: #FA897B;
}

.indicator {
    border: 2px solid #282a36;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 8px;
}

.item {
    border-radius: 10px;
    background-color: #44475a;
    vertical-align: middle;
    line-height: 100%;
    padding: 8px;
    margin: 2px auto;
}

h1 {
    font-family: 'OmnesBlack';
    margin: 0 auto;
}

.footer {
    color: #f8f8f2;
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    height: 40px;
    line-height: 20px;
}

i {
    font-size: 13px;
}

#theme{
    width: 100%;
    height: 100%;
    background-color: #282a36;
    border-radius: 10px;
}

.url {
    font-size: 14px;
}

