*:focus {
    outline: none;
}

.tingle-modal-box__content{
    background-color: #282a36;
    font-size: 24px;
    font-family: 'OmnesBlack';
}

.tingle-modal-box__footer{
    background-color: #44475a;
}
.tingle-modal-box {
    border-radius: 0px 0px 10px 10px;
}
.tingle-btn--default{
    border-radius: 10px;
    color:  #282a36;
    font-family: 'Omnes';
    background-color: #FFDD94;
}

.tingle-btn--danger{
    border-radius: 10px;
    color:  #282a36;
    font-family: 'Omnes';
    background-color: #FA897B;
}

.tingle-btn--primary{
    border-radius: 10px;
    color:  #282a36;
    font-family: 'Omnes';
    background-color: #D0E6A5;
}

.monitorInput {
    border-radius: 10px;
    padding: 2px;
    border: 3px solid #6272a4;
    /* border: 3px solid #44475a; */
    width: 100%;
    background-color: #6272a4;
    font-family: 'Omnes';
    font-size: 20px;
    color: #f8f8f2;
}

.refreshInput {
    border-radius: 10px;
    border: 0;
    padding: 2px;
    background-color: #6272a4;
    font-family: 'Omnes';
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    width: 32px;
    color: #f8f8f2;
}

.refreshInput::placeholder {
    color:  #282a36;
}

.monitorInput::placeholder {
    color:  #282a36;
}
